@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

h3 {
  text-align: center;
}


.center-text {
  text-align: center;
}

.bg-red {
  background-color: red;
}

input {
  background-color: inherit;
}

.d-none {
  display: none;
}

/*
  display: block;
  display: inline;
*/

h3 {
  background-color: aqua;
  width: 100px;
  display: inline-block;
}

span {
  background-color: aquamarine;
  width: 1000px;
}

.square {
  height: 0px;
  width: 0px;
  display: inline-block;
  border-width: 25px;
  border-style: solid;
  border-color: transparent;
  border-left-width: 50px;
  border-bottom-color: red;
}

body {
  /* background-color: rgb(255, 255, 255); */
  /* background-color: rgb(50, 250, 179); */

  /* background-color: #32FAB3; */
  background-color: #A98467;
}

.good-font {
  /* font-family: cursive; */
  /* font-family:'Courier New', Courier, monospace; */
  /* font-family: 'Rubik Moonrocks', cursive; */
  background-color: white;
  font-size: 10px;
  border-width: 1em;
  border-color: black;
  border-style: solid;
}

.parent {
  font-size: 1000px;
  margin-top: 200px;
  background-color: aquamarine;
}

.padding-btn {
  padding-inline-start: 5px;
  padding: 20px;
  padding: 0px;
}

.margin-btn {
  margin: 80px;
}